/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Modify the font size of the title*/
 h1 { font-size: 2.2rem !important; }
 h2 { font-size: 1.7rem !important; }
 h3 { font-size: 1.4rem !important; }
 h4 { font-size: 1.1rem !important; }

/* Custom announcement style */
div[class^='announcementBar_'] {
  --site-announcement-bar-stripe-color1: hsl(
    var(--site-primary-hue-saturation) 85%
  );
  --site-announcement-bar-stripe-color2: hsl(
    var(--site-primary-hue-saturation) 95%
  );
  background: repeating-linear-gradient(
    35deg,
    var(--site-announcement-bar-stripe-color1),
    var(--site-announcement-bar-stripe-color1) 20px,
    var(--site-announcement-bar-stripe-color2) 10px,
    var(--site-announcement-bar-stripe-color2) 40px
  );
  font-weight: bold;
  height: 30px;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Code block line warp 

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}*/

/* For multi-tabs background color
.unique-tabs .tabs__item {
  line-height: 16px;
  margin-right: 8px;
}

.unique-tabs .tabs__item--active {
  border: 0;
  color: #fff;
  border-radius: var(--ifm-global-radius);
  background-color: var(--ifm-tabs-color-active);
} */

/* Add grey line to the multi-tabs bottom */
.tabs {
  border-bottom: 1px solid grey;
}

/* Floating frame for term (show words) */
.highlight-text {
  color: #fa9600;
  cursor: pointer;
  border-bottom: 1px dashed #fa9600;
}

/* Floating frame for term (Float words) */
.tooltip {
  display: inline-block;
  width: auto;
  margin: 0 10px;
  position: relative;
}

.tooltip-content {
  background-color: #2E8B57;
  color: white; /* content color */
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  width: 550px;
  display: none;
  top: 100%;
  left: 0%;
  transform: translateX(0%);
  box-sizing: border-box;
}
.tooltip-content a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.tooltip-content a:hover {
  color: #c0c0c0;
}

.tooltip:hover .tooltip-content {
  display: block;
}
